<h1>Введите данные карты</h1>
<div class="card">
  <div>
    <div class="info-item">
      Номер карты:
      <mat-form-field class="item">
        <mat-label></mat-label>
        <input matInput placeholder="" class="promocode-header" ngModel name="name">
      </mat-form-field>
    </div>

    <div class="info-item">
      Срок действия:
      <div class="card-date">
        <div>
          <mat-form-field class="item-date">
            <mat-label></mat-label>
            <input matInput placeholder="" class="promocode-header" ngModel name="name">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="item-date">
            <mat-label></mat-label>
            <input matInput placeholder="" class="promocode-header" ngModel name="name">
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="info-item">
      Имя держателя карты:
      <mat-form-field class="item">
        <mat-label></mat-label>
        <input matInput placeholder="" class="promocode-header" ngModel name="name">
      </mat-form-field>
    </div>

    <div class="info-item">
      CVV2/CVC2:
      <mat-form-field class="item">
        <mat-label></mat-label>
        <input matInput placeholder="" class="promocode-header" ngModel name="name">
      </mat-form-field>
    </div>

    <button class="buy-button" type="submit" mat-button color="primary">Оплатить</button>

  </div>
</div>
