.header {
  background: #2d2d2d;
  height: 70px;

  color: white;
  font-size: 24px;
}

.header-menu {
  display: flex;
  width: 1400px;

  justify-content: space-between;
  margin: 0 auto;
}

.header-userMenu-personalData {
  margin-left: 15px;
}

.header-userMenu-personalData-personalAccount {
  margin: 15px 0;
}




.content-content {
  width: 1400px;

  margin: 20px auto;
  border: black solid 1px;
}

.content-sectionSelect {
  display: flex;
  justify-content: space-between;
  border: black solid 1px;
  height: 466px;
}

.content-header {
  text-align: center;
  margin: 25px 0;
}

.content-sectionSelect-item {
  width: 465px;
  border: black solid 1px;
  position: relative;
  text-align: center;
}

.content-sectionSelect-item:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background: rgba(19, 19, 19, 0.5);
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  content: "";
  z-index: 99;
}
.content-sectionSelect-item:hover:before {
  opacity: 1;
}

.content-sectionSelect-item-name {
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  background: rgb(0, 0, 0);
  padding:10px;
  display:none;
  color: white;
  opacity: 1;
  z-index: 100;
}

.content-sectionSelect-women:hover .content-sectionSelect-item-name {
  display: block;
}
.content-sectionSelect-children:hover .content-sectionSelect-item-name {
  display: block;
}
.content-sectionSelect-men:hover .content-sectionSelect-item-name {
  display: block;
}



.content-popularitySlider {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.content-popularitySlider-items {
}
.content-sectionSelect-item-name {
  position: absolute;
}
.content-popularitySlider-items:hover .content-sectionSelect-item-name {
}
.content-popularitySlider-items:hover .content-sectionSelect-item-name h1 {
}

/*.content-popularitySlider-item-name-hover:hover {*/
/*  display: block;*/
/*}*/




.footer {
  background: #2d2d2d;
}

.footer-footer {
  width: 1400px;

  margin: 20px auto;
  border: black solid 1px;
}

.footer-links {
  display: flex;
  justify-content: space-between;

  color: white;
  font-size: 18px;
}

.footer-info {
  color: #d6d6d6;
  font-size: 15px;
  text-align: center;

  margin-top: 25px;
  margin-bottom: 20px;
}

.footer-title {
  color: white;
  font-size: 26px;
  padding-left: 80px;
  margin-top: 20px;
}

li {
  list-style-type: none;
  margin: 20px 0;
}
ul {
  color: #d6d6d6;
  padding: 0 120px;
}
