<form #registrationForm="ngForm" (ngSubmit)="registry(registrationForm)">
  <div class="registration">
    <h1>Регистрация</h1>
    <p>
      <mat-form-field class="item">
        <mat-label>name</mat-label>
        <textarea matInput placeholder="" ngModel name="name"></textarea>
      </mat-form-field>
      <mat-form-field class="item">
        <mat-label>surname</mat-label>
        <textarea matInput placeholder="" ngModel name="surname"></textarea>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="item">
        <mat-label>username</mat-label>
        <textarea matInput placeholder="" ngModel name="username"></textarea>
      </mat-form-field>
      <mat-form-field class="item">
        <mat-label>password</mat-label>
        <textarea matInput placeholder="" ngModel name="password"></textarea>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="item">
        <mat-label>E-mail</mat-label>
        <textarea matInput placeholder="12345@mail.ru" ngModel name="eMail"></textarea>
      </mat-form-field>
    </p>

    <div class="registry-button">
      <button class="" type="submit" mat-button color="primary">Зарегистрироваться</button>
    </div>

    <!--    Address-->
    <!--      <table class="example-full-width" cellspacing="0"><tr>-->
    <!--        <td><mat-form-field class="example-full-width">-->
    <!--          <mat-label>City</mat-label>-->
    <!--          <input matInput placeholder="Ex. San Francisco">-->
    <!--        </mat-form-field></td>-->
    <!--        <td><mat-form-field class="example-full-width">-->
    <!--          <mat-label>State</mat-label>-->
    <!--          <input matInput placeholder="Ex. California">-->
    <!--        </mat-form-field></td>-->
    <!--        <td><mat-form-field class="example-full-width">-->
    <!--          <mat-label>Postal Code</mat-label>-->
    <!--          <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">-->
    <!--          <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>-->
    <!--        </mat-form-field></td>-->
    <!--      </tr></table>-->
  </div>
</form>
=
