<form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
  <div class="login">
    <h1>Авторизация</h1>
    <p>
      <mat-form-field class="item">
        <mat-label>username</mat-label>
        <textarea matInput placeholder="" ngModel name="username"></textarea>
      </mat-form-field>
      <mat-form-field class="item">
        <mat-label>password</mat-label>
        <textarea matInput placeholder="" ngModel name="password"></textarea>
      </mat-form-field>
    </p>

    <div class="login-button">
      <button class="" mat-button color="primary">Войти</button>
    </div>
  </div>
</form>
